{% assign h5bp = site.data.h5bp %}
{% assign project = site.github %}
{{ h5bp.doctype }}
<html{% for attr in site.html %} {{ attr[0] }}="{{ attr[1] }}"{% endfor %}>
  <head>{% for header in h5bp.meta.headers %}
    <meta {% if header[0] contains 'charset' %}charset{% else %}http-equiv="{{ header[0] }}" content{% endif %}="{{header[1] | join: ', ' }}">{% endfor %}
    <title>{{ project.project_title }}{% if page.title %} – {{ page.title }}{% endif %}</title>
    <meta name="author" content="{{ project.owner_name }}">
    <meta name="description" content="{{ project.project_tagline }}">{% for umeta in h5bp.meta offset:1 %}
    {% for meta in umeta[1] %}<meta {{ umeta[0] }}="{{ meta[0] }}" content="{{ meta[1] | join: ', ' }}">{% endfor %}
    {% endfor %}{% unless page.error %}<link rel="canonical" href="{{ project.url | remove_first: 'http:' }}{{ page.url }}">
    {% for link in h5bp.links %}<link rel="{{ link[1] }}" href="{% unless link[0] contains '//' %}/{{ project.repository_name }}{% endunless %}{{ link[0] }}">
    {% endfor %}<link rel="alternate" type="application/rss+xml" title="{{ project.project_title }} - {{ project.project_tagline }}" href="{{ project.repository_name }}/feed.xml">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    {% for stylesheet in h5bp.stylesheets %}<link rel="stylesheet" href="/{{ project.repository_name }}{{ stylesheet }}">
    {% endfor %}<script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/{{ h5bp.modernizr_version }}/modernizr.min.js'></script>
    <script>window.Modernizr || document.write('<script src="js/vendor/modernizr-{{ h5bp.modernizr_version }}.min.js">\x3C/script>')</script>
    {% endunless %}

  </head>
{{content}}
</html>
