{% assign h5bp = site.data.h5bp %}
{{ h5bp.doctype }}
<html{% for attr in site.html %} {{ attr[0] }}="{{ attr[1] }}"{% endfor %}>
  <head>
    <meta charset="{{ h5bp.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.github.project_title }}{% if page.title %} – {{ page.title }}{% endif %}</title>
    <meta name="author" content="{{ site.github.owner_name }}">
    <meta name="description" content="{{ site.github.project_tagline }}">
    {% for meta in h5bp.meta %}<meta name="{{ meta[0] }}" content="{{ meta[1] }}">
    {% endfor %}<link rel="canonical" href="{{ site.github.url | remove_first: 'http:' }}{{ page.url }}">
    {% for link in h5bp.links %}<link rel"{{ link[1] }}" href="{{ link[0] }}">
    {% endfor %}
    {% unless page.error %}<link rel="alternate" type="application/rss+xml" title="{{ site.github.project_title }} - {{ site.github.project_tagline }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    {% for stylesheet in h5bp.stylesheets %}<link rel="stylesheet" href="/{{ site.github.repository_name }}{{ stylesheet }}">
    {% endfor %}<script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/{{ h5bp.modernizr_version }}/modernizr.min.js'></script>
    <script>window.Modernizr || document.write('<script src="js/vendor/modernizr-{{ h5bp.modernizr_version }}.min.js">\x3C/script>')</script>
    {% endunless %}

  </head>
{{content}}
</html>
