{% assign h5bp = site.data.h5bp %}
{% assign project = site.github %}
{{ h5bp.doctype }}
<html{% for attr in site.html %} {{ attr[0] }}="{{ attr[1] }}"{% endfor %}>
  <head>{% for header in h5bp.meta.headers %}
    <meta {% if header[0] contains 'charset' %}charset{% else %}http-equiv="{{ header[0] }}" content{% endif %}="{{header[1] | join: ', ' }}">{% endfor %}
    <title>{{ project.project_title }}{% if page.title %} – {{ page.title }}{% endif %}</title>
    <meta name="author" content="{{ project.owner_name }}">
    <meta name="description" content="{{ project.project_tagline }}">{% for umeta in h5bp.meta offset:1 %}{% for meta in umeta[1] %}
    <meta {{ umeta[0] }}="{{ meta[0] }}" content="{{ meta[1] | join: ', ' }}">{% endfor %}{% endfor %}
    {% unless page.error %}{% for dlink in h5bp.link %}
    {% for link in dlink[1] %}<link rel="{{ dlink[0] }}" {% for attr in link[1] %}{{ attr[0] }}="{{ attr[1] }}" {% endfor %}href="{% unless link[0] contains '//' %}/{{ project.repository_name }}/{% endunless %}{{ link[0] }}">{% endfor %}{% endfor %}
    <link rel="canonical" href="{{ project.url | remove_first: 'http:' }}{{ page.url }}">{% endfor %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/{{ h5bp.modernizr_version }}/modernizr.min.js'></script>
    <script>window.Modernizr || document.write('<script src="js/vendor/modernizr-{{ h5bp.modernizr_version }}.min.js">\x3C/script>')</script>
    {% endunless %}

  </head>
{{content}}
</html>
